<div class="unauthorized-layout d-flex flex-column">
    <div class="layout-content">
        <div class="layout-header">
            <h3 class="ms-2 mb-4 primary-text">Welcome Back 👋</h3>
            <div class="sub-title mb-4">
                <span class="secondary-text fs-6">Today is a new day. It's your day. You shape it.<br />Sign in to start
                    managing your projects.</span>
            </div>
        </div>
        <div class="layout-content">
            <ng-content></ng-content>
        </div>
        <p-divider align="center" type="solid">
            <span class="font-14">Or</span>
        </p-divider>
        <!-- <div class="other-auth-options d-flex flex-column justify-content-center">
            <p-button styleClass="tp-auth-option" label="Google" icon="pi pi-google" iconPos="left"></p-button>
            <p-button styleClass="tp-auth-option" label="Facebook"></p-button>
        </div> -->
    </div>
</div>