{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "proseWrap": "never",
  "printWidth": 120,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "experimentalTernaries": true
}