<div class="login-form">
    <form>
        <div class="email mb-3 d-flex flex-column">
            <label for="email" class="primary-text font-15 fw-500 mb-1 fw-semi-bold">Email</label>
            <input pInputText class="input input-border" type="email" placeholder="example@gmail.com" />
        </div>
        <div class="password d-flex flex-column">
            <label for="password" class="primary-text font-15 fw-500 mb-1">Password</label>
            <input pInputText class="input input-border" type="password" placeholder="Atleast 8 characters" />
        </div>
        <span class="forgot-password d-block font-14 text-end mt-3"><a class="link" href="/">Forgot Password?</a></span>
        <p-button class="w-100 mt-3 mb-3" type="button" label="Sign in"></p-button>
    </form>
</div>