.input-border {
    border: 1px solid $iron;
    border-radius: 12px;
}

.input-border-color {
    border-color: $iron;
}

.input-border-radius {
    border-radius: 12px;
}

.input-bg {
    background-color: $alablaster;
}