@import '../variable';

.input {
    padding: 7px 10px 10px 10px;
    background: $alablaster;
    color: $regent-grey;
    font-size: 13px;
    letter-spacing: 1px;

    &::placeholder {
        color: $regent-grey;
        font-size: 13px;
        letter-spacing: 1px;
    }
}

.input-border {
    border: 1px solid $iron !important;
    border-radius: 12px !important;
}

.input-border-color {
    border-color: $iron !important;
}

.input-border-radius {
    border-radius: 12px !important;
}

.input-bg {
    background-color: $alablaster;
}