@import './variable';

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.text-lighter {
    color: $cadet-grey !important;
}

.text-red {
    color: $color-red;
}

.link {
    color: $color-link;
    text-decoration: none;
}