$color-primary: #0C1421;
$color-secondary: #313957;
$color-link: #1E4AE9;

$iron: #D4D7E3;
$alablaster: #F7FBFF;
$regent-grey: #8897AD;
$gable-green: #162D3A;
$color-geyser: #CFDFE2;
$dark-grey-blue: #294957;
$black-squeeze: #F3F9FA;
$cadet-grey: #959CB6;

$color-white: #FFFFFF;